<h2>Registrar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mt-5">
    <%= f.label :Nombre %><br />
    <%= f.text_field :name, autofocus: false, class: "form-control mb-5"%>
  </div>
  <div class="field">
    <%= f.label :Correo %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-5"%>
  </div>

  <div class="field">
    <%= f.label :Contraseña %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",class: "form-control mb-3"%>
  </div>

  <div class="field">
    <%= f.label :'Confirmar contraseña' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-outline-light mt-5 mb-5" %>
  </div>
<% end %>